element.style {
}

body {
background-color: #FFFFFF;
display: block;
margin: 8px;
padding: 0px;
overflow: hidden;
}

user agent stylesheetbody {
display: block;
margin: 8px;
}

head {
display: none;
}

table {
white-space: normal;
line-height: normal;
font-weight: normal;
font-size: medium;
font-variant: normal;
font-style: normal;
color: -webkit-text;
text-align: start;
}

table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}