/* This is the syntax for a CSS comment. */

/* Typically you put all of your general element styles at the top. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px
}    

body {
    background-color: #ffffff;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}    

header {
    float: left
    background-color: #ffffff;
    color: #ffffff;
    height: 150px;
    
}    

header img {
    float: left;
    padding: 0px; /* TRouBLe */
    margin-right: 50px;
}
    
header nav {
    margin-top: 60px;
    
}

header a {
    color: #000000;
    margin-right: 50px;
    text-decoration: none;
}

header a:link {}
header a:visited {}
header a:hover {
    color: #cccccc;          
} 
header a:active {
    text-decoration: underline;
}

header a:focus {}

article {
    float: left;
    clear: both;
    width: 100%;
    padding 0 10px 0px 10px;
}    

figure img {
    width: 50%
    height: 300px;
    float: right;
    margin: 5px 5% 5px 5%;
    padding: 5px 5% 5px 5%;
}

figure figcaption {
    width: 50%;
    height: 30px;
    float: right;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    clear:both
}

article h1 {
	color: #111111;
    font-family: georgia, serif;
    font-size: 36px;
    line-height: 44px
    
}

article h2 {
    color: #111111;
    font-family: georgia, serif;
    line-height: 44px
    
}  
  
footer {
    clear: both;
    color: #000000;
    padding: 0 10px 0 10px;
}

@media screen and (max-width: 600px)
    
    nav {    
}
    
